page-modal {
  .toolbar-content-md {
    padding-left: 25px;
  }
  ion-select {
    border: 1px solid #d8dbe2;
    border-radius: 4px;
    padding: 12px !important;
    width: 100%;
    min-width: 100%;
  }
  .first-label {
    margin-top: 0 !important;
  }
}
