page-directory {
  .result {
    color: #afb5c5;
  }
  .item {
    display: flex;
  }
  .usr_s {
    font-weight: bold;
    margin-left: 14px;
    margin-top: 10px;
  }
  .title_rslt {
    color: #9da5bb;
    font-weight: 400;
    font-size: 14px;
  }
  .option {
    float: right;
    background: transparent;
    opacity: 0;
  }
  .bar-button-menutoggle-md {
    padding: 0;
    margin: 0;
  }
  ion-fab {
    bottom: 20px;
    right: 20px;
    button {
      box-shadow: 0 2px 30px #87db9d !important;
      -webkit-box-shadow: 0 2px 30px #87db9d !important;
      ion-icon {
        font-size: 45px !important;
        font-weight: bold !important;
      }
    }
  }
  ion-input {
    padding: 0 10px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
