<!--
  Generated template for the Directory page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"><g transform="translate(0, 0)">
        <line data-color="color-2" fill="none" stroke="#252b3b" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="1" y1="12" x2="23" y2="12" stroke-linejoin="round"></line>
        <line fill="none" stroke="#252b3b" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="12" y1="5" x2="23" y2="5" stroke-linejoin="round"></line>
        <line fill="none" stroke="#252b3b" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="1" y1="19" x2="12" y2="19" stroke-linejoin="round"></line>
        </g></svg>
    </button>
    <ion-title>{{title}}</ion-title>
    <button class="option">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"><g transform="translate(0, 0)">
        <circle data-color="color-2" fill="none" stroke="#252b3b" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="12" cy="12" r="2" stroke-linejoin="round"></circle>
        <circle fill="none" stroke="#252b3b" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="3" cy="12" r="2" stroke-linejoin="round"></circle>
        <circle fill="none" stroke="#252b3b" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="21" cy="12" r="2" stroke-linejoin="round"></circle>
        </g></svg>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-input (keyup)="getUsers($event)" id="search" placeholder="search..."></ion-input>
  <p class="result">{{result}}</p>
  <ion-list class="userlist" no-lines>
    <ion-item *ngFor="let user of users">
      <div class="item">
        <!-- <img [src]="user.photoUrl" width="40" height="40" class="avatar"> -->
        <div class="avatar" [style.backgroundColor]="colors[(user.firstName.length + user.lastName.length + 1) % 4]">{{user.firstName.substring(0,1).toUpperCase()}}</div>
        <div class="usr_s">
          {{user.firstName + " " + user.lastName}} <span *ngIf="user.title">/ {{user.title}}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
