page-signup {
  .toolbar-title-md {
    padding-right: 35px;
  }
  p {
    font-size: 12px;
    color: #888888;
    margin-bottom: 20px;
  }
  h6 {
    font-family: "headFont";
    span {
      font-size: 12px;
      font-weight: normal;
      float: right;
      color: #aaaaaa;
    }
  }
}
